<nav class="navbar navbar-expand-md navbar-dark footer">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/api/all-maps">All Maps</a>
    <a class="nav-item nav-link" href="/api/my-maps">May Maps</a>
    <a class="nav-item nav-link" href="/api/my-favs">My Favorites</a>
    <a class="nav-item nav-link" href="/api/my-contributions"
      >My Collaborations</a
    >
    <a class="nav-item nav-link" href="/api/not-owned">Not Owned</a>
  </div>
</nav>
