<nav class="navbar navbar-expand-md navbar-dark footer">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/">All Maps</a>
    <a class="nav-item nav-link" href="/user/maps">My Maps</a>
    <a class="nav-item nav-link" href="/user/favorites">My Favorites</a>
    <a class="nav-item nav-link" href="/user/contributions"
      >My Collaborations</a
    >
    <a class="nav-item nav-link" href="/user/not">Not Owned</a>
  </div>
</nav>
