<div class="top-row">
  <div>WikiMap</div>

  <div class="username">Logged in As: <%= user %></div>
</div>

<div class="navbar-nav">
  <a class="nav-item" href="/profile">My Profile</a>
  <a class="nav-item" href="/maps">All Maps</a>
  <a class="nav-item" href="/user/maps">My Maps</a>
  <a class="nav-item" href="/user/favorites">My Favorites</a>
  <a class="nav-item" href="/user/contributions">My Contributions</a>
  <a class="nav-item" href="/user/not">Explore</a>
</div>
