<div class="top-row">
  <div>WikiMap</div>

  <div class="username">Logged in As: <%= user %></div>
</div>

<<<<<<< HEAD
<div class="navbar-nav">
  <a class="nav-item" href="/api/all-maps">All Maps</a>
  <a class="nav-item" href="/api/my-maps">My Maps</a>
  <a class="nav-item" href="/api/my-favs">My Favorites</a>
  <a class="nav-item" href="/api/my-contributions">My Contributions</a>
  <a class="nav-item" href="/api/not-owned">Explore</a>
</div>
=======

      <div class="navbar-nav">
        <a class="nav-item" href="/api/profile">My Profile</a>
        <a class="nav-item" href="/api/all-maps">All Maps</a>
        <a class="nav-item" href="/api/my-maps">My Maps</a>
        <a class="nav-item" href="/api/my-favs">My Favorites</a>
        <a class="nav-item" href="/api/my-contributions">My Contributions</a>
        <a class="nav-item" href="/api/not-owned">Explore</a>
      </div>


>>>>>>> 0ae7499cfd2143f278902153e161e517440e1df4
