<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Map</title>

    <%- include('partials/_head') %>
  </head>

  <body>
    <header><%- include('partials/_nav-bar') %></header>
    <div id="mapid"></div>
  </body>
  <%- include('partials/_foot-scripts') %> <%- include('partials/_footer') %>
</html>
