<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Map</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/my-maps.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/getLocation.js"></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark">
        <div class="access-buttons">
          <a class="navbar-brand" href="/">WikiMap</a>
          <form class="form-inline mb-2" action="/api/create" method="GET">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-create">
                Create A New Map
              </button>
            </div>
          </form>
        </div>

        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/api/all-maps">All Maps</a>
          <a class="nav-item nav-link" href="/api/my-maps">May Maps</a>
          <a class="nav-item nav-link" href="/api/my-favs">My Favorites</a>
          <a class="nav-item nav-link" href="/api/my-contributions"
            >My Collaborations</a
          >
          <a class="nav-item nav-link" href="/api/not-owned">Not Owned</a>
        </div>
        <% if (user) { %>
        <form class="form-inline" action="/api/logout" method="POST">
          <h5 class="navbar-brand nav-link"><%= user %>!</h5>
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-danger">Logout</button>
          </div>
        </form>
        <% } else { %>
        <div class="access-buttons">
          <form
            class="form-inline"
            action="/register"
            method="GET"
            style="margin: 1em"
          >
            <div class="form-group mb-2">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
          <form class="form-inline mb-2" action="/api/login/2" method="GET">
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
        <% } %>
      </nav>
    </header>
    <div>
      <% if (maps.length > 0) { %>
      <div class="grid">
        <% for (let map of maps) { %>
        <article class="card map-item">
          <div class="map__image">
            <img
              src="https://images.unsplash.com/photo-1553864250-05b20249ee0c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWFwc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
              alt=""
            />
          </div>
          <div class="card__content">
            <h4 class="map__title"><%= map.name %></h4>
          </div>
          <div class="card__actions">
            <button class=".btn_view-map">View Map</button>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h3>No map has been created by you</h3>
      <h4>Start creating some maps</h4>
      <% } %>
    </div>
    <!-- <main style="margin: 1em">
      <div>
        <h3>Create A New Map</h3>
        <form action="/api/create" method="POST">
          <div>
            <label for="map_name">Map Name</label>
            <input
              type="text"
              name="map_name"
              style="width: 300px; margin: 1em"
            />
            <label for="description">Description</label>
            <textarea name="description" style="width: 300px; margin: 1em">
            </textarea>
            <div>
              <button type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </main> -->
    <!-- <div id="mapid"></div> -->
  </body>
</html>
