<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Map</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/getLocation.js"></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <a class="navbar-brand" href="/urls">WikiMap</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/urls">My URLs</a>
            <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
          </div>
        </div>
        <% if (user) { %>
        <form class="form-inline" action="/logout" method="POST">
          <h5 class="navbar-brand nav-link">
            Logged in As: <%= user.email %>!
          </h5>
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-danger">Logout</button>
          </div>
        </form>
        <% } else { %>
        <form
          class="form-inline"
          action="/register"
          method="GET"
          style="margin: 1em"
        >
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
        <form class="form-inline mb-2" action="/login" method="GET">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
        <% } %>
      </nav>
    </header>
    <main style="margin: 1em">
      <div>
        <h3>Create A New Map</h3>
        <form action="/api/create" method="POST">
          <div>
            <label for="map_name">Map Name</label>
            <input
              type="text"
              name="map_name"
              style="width: 300px; margin: 1em"
            />
            <label for="description">Description</label>
            <textarea name="description" style="width: 300px; margin: 1em">
            </textarea>
            <div>
              <button type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
