// See: https://sass-lang.com/

body,
html {
  margin: 2.2em auto;
  background-color: lightgrey;
  max-width: 1240px;
}

#mapid {
  min-height: 70vh;
  width: 75%;
  border: 5px solid grey;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
