.form-name {
  padding: 0.5em;
}

.form-desc {
  padding: 0.5em;
}

.button-div {
  display: flex;
  justify-content: center;
}

.modal-form-button {
  width: 80%;
  margin: 1em;
}

.form-check {
  display: flex;
  justify-content: center;
}
