.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #50514f;
}

.access-buttons {
  display: flex;
}

.btn-primary {
  background-color: white;
  color: #247ba0;
  border: 1px solid #247ba0;
  margin-top: 0;
}

.btn:hover,
.btn:active {
  outline: none;
  border: none;
  background-color: #247ba0;
}
