.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #50514f;
}

.access-buttons {
  display: flex;
}

.btn-primary {
  outline: none;
  border: none;
  background-color: #247ba0;
}
