.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #50514f;
}

.modal-backdrop {
  position: unset !important;
}

.sticky {
  // position: fixed;
  top: 0;
  // width: 100%;
}
.navbar-collapse {
  background-color: #50514f;
}

.access-buttons {
  display: flex;
}
.nav-link:visited {
  color: white;
}

.btn-primary {
  background-color: white;
  color: #247ba0;
  border: 1px solid #247ba0;
  margin-top: 0;
}

.btn:hover,
.btn:active {
  outline: none;
  border: none;
  background-color: #247ba0;
}

.navbar-brand {
  margin-top: 8px;
}

.brand {
  margin-top: -1px;
  font-size: 24px;
  margin-right: 12px;
  color: white;
}

.btn-danger {
  margin-top: 5px;
}
