
.user-bit {
  padding-top: 20px;
  text-align: center;
  font-family: 'Rampart One', cursive;
  font-size: 48px;
}


.table-box {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;

}


.tab-head {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  font-family: 'Indie Flower', cursive;
  background-color: rgb(201, 173, 14);
  color: rgb(125, 136, 146);

}

.tabrow {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: larger;
  background-color: white;
}


.favs-table {
  width: 300px;
}

.contribs-table {
  width: 300px;
}

.contribs-table {
  border-collapse:separate;
  border:solid black 1px;
  border-radius:6px;
  -moz-border-radius:6px;
  margin: auto;
  width: 70%;
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
}

td, th {
  border-left:solid black 1px;
  border-top:solid black 1px;


}

th {
  border-top: none;
  font-size: larger;

}

td:first-child, th:first-child {
   border-left: none;

}

.favs-table {
  border-collapse:separate;
  border:solid black 1px;
  border-radius:6px;
  -moz-border-radius:6px;
  margin: auto;
  width: 70%;
  text-align: center;
  margin-top: 5%;
  margin-right: 5%;
}

td, th {
  border-left:solid black 1px;
  border-top:solid black 1px;


}

th {
  border-top: none;
  font-size: larger;

}

td:first-child, th:first-child {
   border-left: none;

}
